DB_DSN=
DATABASE_URL=

SUPABASE_DB_HOST=
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=

SCHEMA_NODE_PROD=node_prod
SCHEMA_GEO_RAW=geo_raw
SCHEMA_GEO_WORK=geo_work
SCHEMA_GEO_PROD=geo_prod
